{% extends 'base.html' %}

{% block title %}
    Create post
{% endblock %}

{% block main %}
    <div class="h1 m-sm-3">Create a new post</div>

    <form method="post"
{#          class="form-control"#}
          class="form-control row row-cols-1"
    >
        <label for="post-title-id" class="form-label">Post title:</label>
        <input type="text" class="form-control my-3" id="post-title-id" name="post_title">

        <label for="post-content-id" class="form-label">Post content:</label>
        <textarea class="form-control my-3" id="post-content-id" name="post_content"></textarea>

        <input type="submit" class="btn btn-success my-3" value="Create">
    </form>

    <br>
    <div>
        <a href="{{ url_for('diary_app.list') }}">Back to posts list</a>
    </div>
{% endblock %}