{% extends "base.html" %}
{% block title %}
    About
{% endblock title %}
{% block content %}
    <div>
        <h1>About</h1>
        <div class="container w-300 m-auto">
            <h1>Welcome to the task manager</h1>
            <p>
                The task manager is your go-to task management application, designed to simplify your daily workflow and boost your productivity. Here's why the task manager stands out:
            </p>
            <div class="key-features">
                <h2>Key Features:</h2>
                <ul>
                    <li>
                        <strong>Intuitive Task Creation:</strong> Easily create tasks with a user-friendly interface. Input task details such as name, description, due date, and priority level effortlessly.
                    </li>
                    <li>
                        <strong>Smart Organization:</strong> Organize tasks into categories, projects, or custom folders to maintain a clutter-free and organized task list.
                    </li>
                    <li>
                        <strong>Prioritization and Deadlines:</strong> Set task priority levels, assign deadlines, and receive timely reminders to manage your time effectively.
                    </li>
                    <li>
                        <strong>Collaborative Workspaces:</strong> Foster teamwork by sharing tasks and collaborating with colleagues. Stay updated on project progress in real-time.
                    </li>
                    <li>
                        <strong>Real-time Updates:</strong> Enjoy seamless synchronization across devices for instant access to the latest task information.
                    </li>
                    <li>
                        <strong>Detailed Task Insights:</strong> Dive into task analytics to track productivity, completed tasks, and efficiency over time.
                    </li>
                    <li>
                        <strong>Customizable Notifications:</strong> Tailor notifications to your preferences for a personalized task management experience.
                    </li>
                    <li>
                        <strong>Secure Data Handling:</strong> Trust the task manager with robust encryption and secure cloud storage to keep your sensitive information safe.
                    </li>
                </ul>
            </div>
            <p>
                The task manager is not just a task management app; it's your personal productivity companion. Whether you're handling complex projects or managing daily chores, the task manager adapts to your needs.
            </p>
        </div>
    </div>
{% endblock content %}
